@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
}

<h2>Welcome to the Riverside Health Care CMS!</h2>
<p>Please use the left side bar menu to navigate through different website sections you want to manage.</p>
