@model RiversideHealthCare.Models.contact_list

@{
    ViewBag.Title = "ContactDelete";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
}

<h2>ContactDelete</h2>

<h2>
    Are you sure you want to delete <em>@Model.department?</em>
</h2>

@using (Html.BeginForm())
{
    <div>
        <input type="submit" value="Delete" />

    </div>
}

<div class="back">
    @Html.ActionLink("Back to List", "ContactIndex")
</div>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




