@model RiversideHealthCare.Models.faq
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
}

@*Asks user to confirm about deleting a paitent*@
<h2>Delete</h2>

<h3> Are you sure you want to delete <em>"@Model.question"</em>?</h3>

@using (Html.BeginForm())
{
    <div>
        <input type="submit" value="Delete" />
        <br />
        <br />
        @Html.ActionLink("Back", "Details", new { id = Model.id })
    </div>
}